img.raceImage {
  width: 100%; /* width of container */
  height: 100%; /* height of container */
  object-fit: cover;
  object-position: 0px 0px;
  transition: 1s;
}

img.raceImage:hover {
  transform: scale(1.05);
}

div.raceCol {
  filter: brightness(50%);
  transition: 0.33s;
  padding: 0;
  overflow: hidden;
}

.raceCol:hover {
  filter: brightness(100%);
}

.titleContainer {
  padding-bottom: 50px;
}

